body
{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1
{
	font-family: 'Michroma', sans-serif;
	margin: 0px;
	padding: 0px;
}

h2,h3,h4,h5
{
	font-family: 'Ubuntu', sans-serif;
	margin: 0.1%;
	padding: 0.1%;
}

a
{
	color: #000;
}

#title-bar
{
	background-color: #FFF;
	border-bottom: 1px solid black;
	width: 100%;
	position:fixed;
	z-index:1;
	height:50px;
	top: 0px;
}

#title-bar h3
{
	font-weight: normal;
}

#devices
{
	height: 90%;
	position: absolute;
	/*margin-top:51px;*/
	padding-top:51px;
	overflow-y: scroll;
	transition: height 0.25s ease-out;
	border-bottom: 1px solid black;
}

#details
{
	background-color: #FFF;
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 0px;
	border-top: 1px solid black;
	z-index: 1;
	transition: height 0.25s ease-out;
}

#details-title
{
	background-color: #FFF;
	border-bottom: 1px solid black;
	width: 100%;
	height: 50px;
}

.left
{
	float:left;
	padding-right: 3px;
}

.right
{
	float:right;
	padding-left: 3px;
}

.device
{
	float: left;
	width: 224px;
	height: 126px;
	border: 1px solid black;
	margin: 1px;
}
.device *
{
	margin: 2px;
}

.bgChart
{
	z-index: -1;
	width: 98%;
	height: 75%;
	margin-left: 0;
}

.third
{
	float:left;
	width:33%;
	height: 100%;
}

#chartArea
{
	height: 100%;
	width: 100%;
}

#dateTime
{
	text-align:right;
}

/*font-family: 'Michroma', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
