@font-face {
	font-family: 'Michroma';
	font-style: normal;
	font-weight: 400;
	src: local('Michroma'), url(fonts/Michroma.ttf);
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OsJ2DjdpjqFRVUSto6IffD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body
{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1
{
	font-family: 'Michroma', sans-serif;
	margin: 0px;
	padding: 0px;
}

h2,h3,h4,h5
{
	font-family: 'Ubuntu', sans-serif;
	margin: 0.1%;
	padding: 0.1%;
}

a
{
	color: #000;
}

#title-bar
{
	background-color: #FFF;
	border-bottom: 1px solid black;
	width: 100%;
	position:fixed;
	z-index:5;
	height:50px;
	top: 0px;
}

#title-bar h3
{
	font-weight: normal;
}

#devices
{
	width: 100%;
	height: 90%;
	position: absolute;
	/*margin-top:51px;*/
	padding-top:51px;
	overflow-y: scroll;
	transition: height 0.25s ease-out;
	border-bottom: 1px solid black;
}

#details
{
	background-color: #FFF;
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 0px;
	border-top: 1px solid black;
	z-index: 1;
	transition: height 0.25s ease-out;
}

#details-title
{
	background-color: #FFF;
	border-bottom: 1px solid black;
	width: 100%;
	height: 50px;
}

.left
{
	float:left;
	padding-right: 3px;
	width: auto;
}

.left h4
{
	width: auto;
	margin: 0;
	padding: 0;
}

.right
{
	z-index:1;
	position:relative;
	float:right;
	padding-left: 10px;
	height: 40px;
	width: 40px;
	padding-top: 5px;
}

.plug
{
	background-color: #DDD;
	width: 228px;
	float: left;
	border: 0;
	margin: 3px;
}

.device
{
	float: left;
	width: 224px;
	height: 126px;
	border: 1px solid black;
	margin: 1px;
}
.device *
{
	margin: 2px;
}

.bgChart
{
	position: absolute;
	width: 220px;
	height: 96px;
	margin-left: 0;
	float:left;
}

.power
{
	display:inline-block;
	position: absolute;
	z-index: 1;
	width: 220px;
	height: 96px;
	text-align:center;
	float: left;
	color: rgba(0,0,0,0.5);
	font-size:40px;
	line-height:94px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5),
	-1px 1px 0px rgba(255,255,255,0.5),
	1px -1px 0px rgba(255,255,255,0.5),
	-1px -1px 0px rgba(255,255,255,0.5);
}

.third
{
	float:left;
	width:33%;
	height: 100%;
}

#chartArea
{
	height: auto;
	width: 100%;
}

#dateTime
{
	text-align:right;
}

#loading
{
	visibility:hidden;
	text-align: center;
	background-color: rgba(255,255,255,.75);
	z-index: 5;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	height:3em;
	width:15em;
	border-radius: 1em;
}

input.name
{
	font-family: 'Ubuntu',sans-serif;
	display: block;
	background-color: rgb(221, 221, 221);
	border: 1px dashed #444;
	padding: 0.1%;
	font-weight: 700;
	font-size: 1.17em;
	width: 95%;
	margin: 2px auto;
}

/* Make the scroll bar not tiny (only works in webkit)*/
::-webkit-scrollbar {
		width: 40px;
}

::-webkit-scrollbar-track {
		background-color: #dfdfdf;
		border-width: 1px;
		border-color: #949494;
		border-style: solid;
}

::-webkit-scrollbar-thumb {
		background-color: #d3d3d3;
		border-radius: 9px;
		border-width: 1px;
		border-color: #949494;
		border-style: solid;
}

@media screen and (max-width: 1000px)
{
	#details-title{height: 100px;}
	#chartArea{height: 90%;}
}

@media screen and (max-width: 900px)
{
	h1{font-size: 125%;}
	h2{font-size: 105%;}
	h3{font-size: 105%;}
	h4{font-size: 100%;}
}

@media screen and (max-width: 600px)
{
	h1{font-size: 100%;}
	h2{font-size: 100%;}
	h3{font-size: 100%;}
	h4{font-size: 100%;}
	#details-title{height: 150px;}
	#chartArea{height: 50%;}
}

/*font-family: 'Michroma', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
